@page "{id:int}"
@model WebApplication1.Pages.People.EditModel
@{
    ViewData["Title"] = "Редактирование пользователя";
}
<h2>@ViewData["Title"]</h2>

<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Person.Id" type="hidden" />
    <div>
        <label>Имя</label>
        <div>
            <input asp-for="Person.Name" />
            <span asp-validation-for="Person.Name"></span>
        </div>
    </div>
    <div>
        <label>Возраст</label>
        <div>
            <input asp-for="Person.Age" type="number" />
            <span asp-validation-for="Person.Age"></span>
        </div>
    </div>
    <div>
        <input type="submit" value="Сохранить" />
    </div>
</form>